* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}
#navbar{
  background-color: #8a4fff;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 60px;
}
#navbar-brand-custom{
  color: white;
  font-size: 2rem;
}
#navbar-nav-custom{
  padding-left: 5rem;
}
#nav-item-custom{
 margin-left: 1rem;
 border-radius: 5px;
 min-width: 4rem;
 text-align: center;
}
#nav-item-custom:hover{
  background-color: rebeccapurple;
}
#nav-link-custom{
  color: #e9f8f8;
}
#nav-link-custom:hover{
  color: white;
}
.fa-magnifying-glass{
  font-size: 1.5rem;
  padding: 1px;
  color: rgb(0, 0, 0, 0.5);
}
.fa-magnifying-glass:hover{
  color: rgb(0, 0, 0, 0.8);
}
#search-custom{
  border-radius: 10px;
  background-color: white;
}
#btn-custom{
  padding: 1px 5px 0 0;
}
#form-control-custom{
  width: 10rem;
  border: none;
  border-radius: 10px;
  outline: none;
}


/* ========home_container =========*/
.home_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #eef1f4;
  padding: 80px 50px 15px 50px;
}
.home_data {
  padding: 5rem 1rem 1rem 3rem;
}
.home_heading {
  font-size: 4rem;
  font-weight: bold;
}
.home_description {
  margin-top: 3rem;
  font-size: 1.2rem;
  opacity: 0.5;
}
.home_fetures {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.feture_data {
  font-size: 0.9rem;
  cursor: pointer;
}
.home_details {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
}
.detail {
  padding: 2px 20px 2px 20px;
}
.get_Start_Btn {
  font-size: 1.5rem;
  background-color: #c3bef7;
  color: #8a4fff;
  color: rgb(138, 79, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.get_Start_Btn:hover {
  background-color: #8a4fff;
  color: #effffa;
}
.check {
  width: 20px;
}
.fa-circle-play {
  color: #8a4fff;
  font-size: 32px;
  border: 5px solid #c3bef7;
  border-radius: 25px;
  text-align: center;
}
.fa-circle-play:hover {
  border: 5px solid #b2acf1;
}
.image_contain {
  padding: 0px 0px 0 0px;
  text-align: center;
}
.home_img {
  width: 530px;
}

/* ========details_container===== */
.details_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}
.contain_detail {
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.contain_detail:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.544);
}
.detail_img {
  float: inline-start;
  padding-right: 10px;
}
.coures {
  background-color: #fdf6e3;
  padding: 11px 5px;
}
.img1coures {
  width: 60px;
}
.tutors {
  background-color: #e9eaed;
}
.student {
  background-color: #f2e9fb;
}
.cetified {
  background-color: #e9f8f8;
}
.sub_Detail_Title {
  font-size: 1.3rem;
  font-weight: 600;
}
.sub_Detail_des {
  font-size: 0.8rem;
  padding-top: 5px;
}
/* ==========all_coures======= */
.coures_container {
  background-color: #e9eaed;
}
.coures_header {
  text-align: center;
  padding: 3rem 3rem 0 3rem;
}
.coures_heading {
  font-size: 3rem;
}
.coures_about {
  opacity: 0.5;
}
.coures_nav {
  padding: 0 5rem 1rem 5rem;
  margin: 0 5rem;
}
.coures_nav_tags {
  background-color: #c3bef7;
  padding: 0.5rem 5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}
.coures_nav_tags a {
  color: #8a4fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 550;
  opacity: 0.7;
}
.coures_nav_tags a:hover {
  background-color: #b974ff;
  color: #effffa;
  opacity: 1;
}
.coures_cards_container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0.5rem;
}
.custem_coures_img {
  width: 15rem;
}
#card_custom{
  width: 15rem;
}
.coures_cards_container .card {
  padding: 0px;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.coures_cards_container .card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.544);
}
.coures_cards_container .card .card-body {
  padding-bottom: 0;
  padding-top: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.179);
}
.coures_cards_container .card .card-body .card-title {
  font-weight: 500;
  color: rgb(31, 28, 28);
}
.coures_cards_container .card .card-body .card-text {
  opacity: 0.7;
  line-height: 1rem;
  padding-bottom: 3px;
}
.card-body-detail {
  opacity: 0.7;
  font-size: 15px;
}
/* ======about_container======== */
.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #eef1f4;
  padding: 15px 50px 15px 50px;
}
.about_img1 {
  width: 380px;
}
.about_img2 {
  width: 220px;
}
.about_img3 {
  width: 160px;
}
.about_img4 {
  width: 350px;
}
.about_data {
  padding: 6rem 1rem 1rem 3rem;
}
.about_heading {
  font-size: 3rem;
}
.about_description {
  margin-top: 3rem;
  font-size: 1.2rem;
  opacity: 0.5;
}
.about_image_contain {
  display: inline;
}
.review_Btn {
  font-size: 1.5rem;
  background-color: #c3bef7;
  color: #8a4fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.review_Btn:hover {
  background-color: #8a4fff;
  color: #effffa;
}

/* =======footer========= */
.footer {
  height: 400px;
  padding: 3rem;
}
.upper_footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.upper_footer .discr h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.upper_footer .discr p {
  opacity: 0.7;
  padding-right: 2rem;
}
.upper_footer div p span {
  padding-left: 5px;
  opacity: 0.7;
  cursor: pointer;
}
.upper_footer div p span:hover {
  opacity: 1;
  text-decoration: underline;
}
.lower_footer {
  border-top: 1px solid #e5ecf4;
  padding: 1rem;
  opacity: 0.7;
  font-size: small;
}
.copyright {
  display: flex;
  justify-content: start;
}
.lower_footer_termPolicy {
  display: flex;
  justify-content: end;
}
.lower_footer_termPolicy span {
  padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 1024px){
  .home_container {
    padding: 75px 50px 40px 40px;
  }
  .home_heading {
    font-size: 3rem;
  }
  .home_data {
    padding: 3rem 1rem 1rem 1rem;
  }
  .home_description {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .home_fetures {
    margin-top: 3rem;
    width: 100%;
  }
  .image_contain {
    text-align: start;
  }
  .home_img {
    width: 470px;
  }
  /* ===== */
  .coures_header {
    padding: 1rem 3rem 0 3rem;
  }
  .home_heading {
    font-size: 3rem;
  }
  .coures_nav {
    padding: 0 3rem 1rem 3rem;
  }
  /* ===== */
  .about_container {
    padding: 15px 10px 15px 10px;
  }
  .about_heading {
    font-size: 2.5rem;
  }
  .about_data {
    padding: 3rem 1rem 1rem 1rem;
  }
  .about_img1 {
    width: 280px;
  }
  .about_img2 {
    width: 180px;
  }
  .about_img3 {
    width: 130px;
  }
  .about_img4 {
    width: 300px;
  }
  .review_Btn {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width:768px){
  .home_container {
    grid-template-columns: 1fr;
  }
  .home_heading {
    font-size: 3.5rem;
  }
  .home_description {
    font-size: 1.5rem;
  }
  .home_fetures {
    position: relative;
    top: 430px;
  }
  .feture_data {
    font-size: 1rem;
  }
  .home_details {
    position: relative;
    top: 430px;
  }
  .image_contain {
    position: relative;
    bottom: 200px;
    padding: 0px 20px 0 90px;
  }

  .details_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .contain_detail {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .coures_nav {
    padding: 0 5rem 1rem 5rem;
    margin: 0 1rem;
  }
  .coures_nav_tags {
    padding: 0.5rem;
  }

  .about_container {
    display: grid;
    grid-template-columns: 1fr;
    background: #eef1f4;
    padding: 15px 50px 15px 50px;
  }
  .about_heading {
    position: relative;
    bottom: 580px;
  }
  .about_image_contain {
    position: relative;
    top: 150px;
  }

  .about_img1 {
    width: 350px;
  }
  .about_img2 {
    width: 280px;
  }
  .about_img3 {
    width: 160px;
  }
  .about_img4 {
    width: 350px;
  }
  .about_data {
    padding: 1rem;
  }
  .review_Btn {
    margin-top: 0.5rem;
  }
  .footer {
    padding: 1rem;
  }
  .upper_footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  /* .upper_footer .discr {
    grid-column: 1/13;
  } */
  .upper_footer div p{
   margin-bottom: 0;
  }


}
@media screen and (max-width: 425px){
  #navbar{
    padding: 0 1rem 1rem 1rem;
  }
  .home_container {
    padding: 50px 1px 1px 1px;
  }
  .home_heading {
    font-size: 2rem;
  }
  .home_description {
    margin-top: 1rem ;
    margin-bottom: 0;
    font-size: 1rem;
  }
  .image_contain{
    padding-left: 20px;
    bottom: 200px;
  }
  .home_img {
    width: 300px;
  }
  .home_fetures {
    display: grid;
    justify-content: start;
    top: 270px;
  }
  .feture_data{
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
  .home_details {
    position: relative;
    top: 260px;
  }
  .get_Start_Btn {
    font-size: 1rem;
  }
  .details_container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .coures_header {
    padding: 3rem 1rem 0 1rem;
  }
  .coures_heading {
    font-size: 2rem;
  }
  .coures_nav {
    padding: 0 0.5rem 1rem 0.5rem;
    margin: 0;
  }
  .coures_nav_tags {
    padding: 0.5rem;
  }
  .coures_nav_tags a {
    font-size: 15px;
  }
  .none{
    display: none;
  }
  #card_custom{
    width: 18rem;
  }
  .coures_cards_container .card {
    padding: 0px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  .about_container {
    padding: 15px;
  }
  .about_heading {
    bottom: 300px;
    font-size: 2rem;
  }
  .about_img1 {
    width: 200px;
  }
  .about_img2 {
    width: 100px;
  }
  .about_img3 {
    width: 100px;
  }
  .about_img4 {
    width: 200px;
  }
  .about_description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .review_Btn {
    font-size: 1rem;
  }


}

